<nav class="navbar">
  <img src="assets/icons/logo.svg" class="logoClass">
      <ul>
        <li>
            <img src="assets/icons/home.svg">
          <a  href="#">მთავარი გვერდი </a>
        </li>
        <li class="nav-item">
            <img src="assets/icons/limits.svg">
          <a  href="#">ჩემი ლიმიტები</a>
        </li>
        <li class="nav-item">
            <img src="assets/icons/invoice.svg">
            <a  href="#">ჩემი ინვოისები</a>
          </li>
          <li class="nav-item">
            <img src="assets/icons/people.svg">
            <a  href="#">წარმომადგენლები</a>
          </li>
          <li>
      <a href="">
        <img src="assets/icons/log out.svg">
      </a>
          </li>
      </ul>

  </nav>
  